<div class='page'>
	<div class="customize-item-name popup-top">{{ item.name }}</div>
	<div class="customize-item-price popup-top">{{ item.price | currency }}</div>
	<div class="customize-item-colored-line pizza-header"></div>
	<h3 class="included-ingredients-label floatLeft">Included Ingredients:</h3>

	<div class='flex-container-customize-item checklist-container'>
		<div flex='80' layout='row' layout-wrap ng-repeat="ingredient in ingredients">
			<md-checkbox class='md-primary' ng-checked="isSelectedIngredient(ingredient)" ng-click="toggle(ingredient)">
				{{ ingredient }}
			</md-checkbox>
		</div>
	</div>

	<md-input-container flex class='special-instructions'>
		<label>Special Instructions</label>
		<input ng-model="specialInstructions">
	</md-input-container>

	<div class='action-button-container'>
		<a ui-sref='root.order'>
			<md-button class="addToCartButton md-raised md-primary" ng-click='addItem()'>Add</md-button>
		</a>
		<a ui-sref='root.order'>
			<md-button class="addToCartButton md-raised md-primary">Cancel</md-button>
		</a>
	</div>
</div>