/* styling for item name and price at the top of the customize-item page */
.popup-top {
	font-size: 20px;
	width: 100%;
	text-align: center;
	position: relative;
}

/* styling for item name at the top of the customize-item page */
.customize-item-name {
	font-family: 'Raleway';
	font-weight: 700;
	padding-top: 7px;   /* provides padding against top of page */
}

/* styling for item's price at the top of the customize-item page */
.customize-item-price {
	font-family: 'Roboto';
	font-weight: 500;
	clear: both;
}

/* styling in the ingredients popup for the colored line that separates the name and price of the item from the ingredients list */
.customize-item-colored-line {
	clear: both;
	width: 100%;
	height: 7px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 6px;
	position: relative;
}

/* styling for "Included Ingredients" and "Options" label on customize-item page */
.customize-item-section-label {
	font-family: 'Raleway';
	font-weight: 600;
	margin-left: 12px;
	margin-top: 8px;
	margin-bottom: 0px;
	position: relative;
}

/* "Please select an option" message on customize item page */
.item-options-message {
	font-family: 'Raleway';
	font-weight: 400;
	margin-top: 12px;
	margin-right: 12px;
	font-size: 16px;
	color: red; 
}

.pizza-header {
	background-image: url('/assets/img/header_pizza.png');
}

.checklist-container {
	width: 100%;
	position: fixed;
	position: relative;
}

md-checkbox .md-label span {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 17px;
}

.action-button-container {
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	position: relative;
}

.md-button {
	margin: 6px 20px;
}

.md-checkbox {
	margin: 10px;
}

.special-instructions {
	margin-top: 5px;
	margin-left: 16px;
	margin-right: 16px;
}