<div data-role="collapsible" id="header_{{ section.type }}" class="menuHeader">
	<h3 class="orderSectionLabels">{{ section.label }}</h3>
	<table>
		<tbody ng-repeat='item in menu | filter: {type:section.type}'>
			<tr>
				<td>
					<input id="item.index" ng-click="broadcastCustomizeItemRequest(item.index)" type="button" class="addButton" value="" data-role="none">
				</td>
				<td class="itemNameOrder" ng-click="broadcastCustomizeItemRequest(item.index)">{{ item.item }}<td>
				<td class="price">{{ item.price | currency }}</td>
			</tr>
			<tr>
				<td></td>
				<td class="description" ng-click="broadcastCustomizeItemRequest(item.index)">{{ item.description }}</td>
			</tr>
		</tbody>
	</table>
</div>