<div data-role="collapsible" id="header_{{ section.type }}" class="menuHeader">
	<h3 class="orderSectionLabels">{{ section.label }}</h3>
	<table>
		<tbody ng-repeat='item in menu | filter: {type:section.type}'>
			<tr>
				<td>
					<a ui-sref='customize-item-order({menuIndex: item.index})'>
						<input id="item.index" ng-click="broadcastCustomizeItemRequest(item.index)" type="button" class="addButton" value="" data-role="none">
					</a>
				</td>
				<td ng-click="broadcastCustomizeItemRequest(item.index)">
					<a class="itemNameOrder" ui-sref='customize-item-order({menuIndex: item.index})'>{{ item.name }}</a>
				<td>
				<td class="price">{{ item.price | currency }}</td>
			</tr>
			<tr>
				<td></td>
				<td ng-click="broadcastCustomizeItemRequest(item.index)">
					<a class="description" ui-sref='customize-item-order({menuIndex: item.index})'>{{ item.description }}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>