/* class for ingredients checklist container */
.flex-container-customize-item {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-left: 30px;
}

