<div class='page'>
	<div class='customize-item-name popup-top'>{{ vm.item.name }}</div>
	<div class='customize-item-price popup-top'>{{ vm.item.price | currency }}</div>
	<div class='customize-item-colored-line pizza-header'></div>
	
	<div ng-if='vm.item.ingredients'>
		<h3 class='customize-item-section-label'>Included Ingredients:</h3>
		<div class='flex-container-customize-item checklist-container'>
			<div flex='80' layout='row' layout-wrap ng-repeat="ingredient in vm.ingredients">
				<md-checkbox class='md-primary' ng-checked="vm.isSelectedIngredient(ingredient)" ng-click="vm.toggleIngredient(ingredient)">
					{{ ingredient }}
				</md-checkbox>
			</div>
		</div>
	</div>

	<div ng-if='vm.item.options'>
		<div class='flex-container-item-options'>
			<h3 class='customize-item-section-label'>Options:</h3>
			<div ng-if='vm.shouldDisplayItemOptionsMessage()' class='item-options-message'>Please select an option</div>
		</div>
		<div class='flex-container-customize-item options-container'>
			<md-radio-group ng-model="vm.option">
				<md-radio-button ng-repeat='option in vm.options' value="{{option[0]}}" class="md-primary customize-item-radio-option">{{option[0]}}: {{option[1] | currency}}</md-radio-button>
			</md-radio-group>
		</div>
	</div>

	<md-input-container flex class='special-instructions'>
		<label>Special Instructions</label>
		<input ng-model="vm.specialInstructions">
	</md-input-container>

	<div class='action-button-container'>
		<md-button class="addToCartButton md-raised md-primary" ng-click='vm.addItem()'>Add</md-button>
		<a ui-sref='root.checkout'>
			<md-button class="addToCartButton md-raised md-primary">Cancel</md-button>
		</a>
	</div>
</div>